%h1= "Carte #{@map.name}"

%table#plateau
  %tbody
    / Line for Y information
    %tr#p_tdx
      %td
        %img{:href => '/template/defaut/image/xy.gif'}
      - @all_x.each do |x|
        %td
          #p_tdx= x
      %td

    / Loop for all Box
    - x_temp = @all_x.min
    - @all_y.each do |y|
      %tr
        / coord Y information
        %td#p_tdy= y


        - unless @box_y[y].empty?
          - while x_temp < @box_y[y][0].x
            %td#c{:nowrap => ''}
            - x_temp += 1

        / Box information
        - @box_y[y].each do |box|
          - x_temp += 1
          %td#c{:nowrap => "nowrap", :background => "/#{box.type.name}"}

            / Add information of Player if a player for this Box
            - unless box.player.nil?
              %img{:src => "/#{box.player.picture}"}
              %br/
              %font{:color => box.type.font_color}
                ="#{box.player.compagny.abbreviation}-#{box.player.lys_id}"

        / Test if all box is fill and complete it if not all fill
        - if x_temp <= @all_x.max
          - (@all_x.max - (x_temp - 1)).times do |a|
            %td#c{:nowrap => ''}

        / Coord Y information
        %td#p_tdy=y
        - x_temp = @all_x.min

    / Line of End for Y information
    %tr#p_tdx
      %td/
      - @all_x.each do |x|
        %td
          #p_tdx=x
      %td/


