
%h1= "Carte #{@map.name}"

#bulle
  #bulle_top
  #bulle_loader
    %p
      %img#loader_ajax{:src => '/images/ajax-loader.gif'}
  #bulle_content
  #bulle_bottom
  #bas_bulle

#search
  - if flash[:notice]
    %p
      %label=flash[:notice]
  -form_tag :controller => 'maps', :action => 'search' do
    %p
      =hidden_field "y", params[:y]
      =hidden_field "x", params[:x]
      =hidden_field "map_id", params[:map_id]
      =hidden_field "step", params[:step]
    %p
      %label{:for => "perso"} Recherche de perso
      =text_field_tag :perso, params[:perso]

%table#plateau
  %tbody
    / Line for Y information
    %tr#p_tdx
      %td
        %img{:href => '/template/defaut/image/xy.gif'}
      - @all_x.each do |x|
        %td
          #p_tdx= x
      %td

    / Loop for all Box
    - x_temp = @all_x.min
    - @all_y.each do |y|
      %tr
        / coord Y information
        %td#p_tdy= y


        - unless @box_y[y].empty?
          - while x_temp < @box_y[y][0].x
            %td#c{:nowrap => ''}
            - x_temp += 1

        / Box information
        - @box_y[y].each do |box|
          - x_temp += 1
          - if box.type.nil?
            / It's a Town or a PS
            - unless box.other.nil?
              = box.other.content
            - else
              %td
            - next
          / Add information of Object if an object is in this box
          - unless box.objet.nil?
            %td#c{:nowrap => "nowrap", :background => "/#{box.type.path}", :onclick => "infoobjet_map(event, this, #{box.objet.id})"}
              %img{:src => "#{box.objet.picture}"}
              %br/
              - next
          / Add information of Player if a player for this Box
          - unless box.player(current_user).nil?
            %td#c{:nowrap => "nowrap", :background => "/#{box.type.path}", :onclick => "infoplayer_map(event, this, #{box.player(current_user).id})"}
              %img{:src => "/#{box.player(current_user).picture}"}
              %br/
              %font{:color => box.type.font_color}
                ="#{box.player(current_user).compagny.abbreviation}-#{box.player(current_user).lys_id}"
          - else
            %td#c{:nowrap => "nowrap", :background => "/#{box.type.path}"}

        / Test if all box is fill and complete it if not all fill
        - if x_temp <= @all_x.max
          - (@all_x.max - (x_temp - 1)).times do |a|
            %td#c{:nowrap => ''}

        / Coord Y information
        %td#p_tdy=y
        - x_temp = @all_x.min

    / Line of End for Y information
    %tr#p_tdx
      %td/
      - @all_x.each do |x|
        %td
          #p_tdx=x
      %td/


