= render :partial => 'layouts/head'
#page
  = flash[:notice]
  #conteneur
    #pub
      = render :partial => 'layouts/adsense'
    #link_screen
      %p 
        %span Ce screen est accessible par l'url : 
        %span= url_for :only_path => false, :controller => 'screens', :action => 'show', :id => @screen.view_id
    #link_return
      %p  
        =link_to 'Créer un nouveau screen', :controller => 'screens', :action => 'new'
    =render :partial => 'screens/info'
    = yield
